#title{
  text-align: center;
}

#score {

  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  transform: translateY(-50%);
}
//Sentence/question
#question{
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  transform: translateY(-50%);
}
//User input
#translation {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
}
